{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

  {% block stylesheets %}
        <link href="{{ asset('styles/register.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}

{% block body %}
     

 {{ form_start(registrationForm, {'attr': {'class': 'form-signup'}})  }}


  {{ form_row(registrationForm.email, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Adresse e-mail'}}) }}
 
    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Mot de passe'}})}}

   <div class="form-roles">
    {{ form_row(registrationForm.roles, {'attr': {'class': 'form-user'}}) }}
  </div>

<div class="form-terms">
    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-terms'}}) }}
  </div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </div>



    
{% endblock %}
