{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

  {% block stylesheets %}
        <link href="{{ asset('styles/register.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}

{% block body %}
     

 {{ form_start(participation_form, {'attr': {'class': 'form-signup'}})  }}


  {{ form_row(participation_form.name, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Name'}}) }}
 
    {{ form_row(participation_form.lastname, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Last Name'}})}}

   <div class="form-roles">
    {{ form_row(participation_form.phonenumber, {'attr': {'class': 'form-control mb-2', 'placeholder': 'Phone number'}}) }}
  </div>


{{ form_row(participation_form.id_user,  { 'attr':{'value': id_user } })  }} 
{{ form_row(participation_form.id_concours,  { 'attr':{'value':id_concr} })  }}  

<div class="form-group">
    <button type="submit" class="btn btn-primary">Participer</button>
  </div>



    
{% endblock %}
